body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #cfe0f3, #e6ecf3);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: white;
    border-radius: 10px;
    width: 350px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.resetPw-box {
    background-color: #003366;
    color: white;
    padding: 20px;
    text-align: center;
}

.resetPw-box h2 {
    margin: 0;
    font-size: 28px;
    letter-spacing: 2px;
    font-family: 'Times New Roman', Times, serif;
}

form {
    padding: 30px 20px;
}

.password-input {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input[type="password"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

button {
    padding: 5px 25px;
    font-size: 16px;
    font-weight: bold;
    background-color: #f4f4f4;
    border: 2px solid #b0b0b0;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 100px;
}

button:hover {
    background-color: #ddd;
}