.content { 
    padding: 20px; 
    font-family: Verdana;
}

.filters {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding: 5px 10px;
}

.filters a {
    padding: 2px 20px;
    text-decoration: none;
    background-color: #ffeef2;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: all 0.3s ease;
    font-weight: 500;
}

.filters a:hover {
  background-color: #e0e3e7;
  color: #000;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.filters a.active {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}


.cards { 
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
    margin-bottom: 30px;
    justify-content:space-around;
}

.card { 
    flex: 1; 
    padding: 20px; 
    background: #f4f4f4; 
    border-radius: 8px; 
    text-align: center; 
    font-size: 1.2em;
    flex-direction: column;
}

.card-link {
    text-decoration: none;
    color: inherit;
}

.card-link:hover .card {
    background-color: #e0e0e0;
    cursor: pointer;
}

#salesChart {
  width: 70%;
  max-width: 900px;
}

#calendar {
  width: 30%;
  min-width: 50px;
  margin-top: auto;
} 

.dashboard-middle {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  align-items: flex-start;
}

.left-panel {
  flex: 2;
}

.right-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.chart-container {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.registration-container {
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  text-align: center;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  text-align: center;
}

.user-table thead {
  background-color: #a19353; 
  color: white;
}

.user-table th, .user-table td {
  padding: 5px;
  border-bottom: 1px solid #ddd;
}

.user-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table-scroll {
  max-height: 100px;
  overflow-y: auto;
  border: 1px solid #ddd;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .cards {
    flex-direction: column;
  }
} 