.menu-header-bar {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 20px 300px 0 150px;
    gap: 200px;
    font-family: Verdana;
}

.menu-header-bar h2 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
    align-items: left;
}

.menu-header-bar input {
    padding: 8px;
    font-size: 16px;
    width: 170%;
    margin: 0 auto;
    flex-wrap: wrap;
}

.search-menu {
    border-radius: 20px;
    border: 2px solid #ccc;
    outline: #000;
    border-color: #545050;
    width: 30%;
    font-size: 20px;
}

.menu-container {
    display: flex;
}

.menu-text {
    flex: 3;
    padding: 20px;
}

.categories {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-top: 5px;
  margin-bottom: 20px;
  flex-wrap: wrap; 
}

.categories a {
  text-decoration: none;
  padding: 8px 16px;
  font-weight: bold;
  border-radius: 20px;
  background-color: #eaeaea;
  color: #333;
  transition: background-color 0.2s, transform 0.2s;
}

.categories a:hover,
.categories a.active {
  background-color: #007bff;
  color: white;
  transform: translateY(-2px);
}

.items {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    gap: 100px;
    padding: 10px 0 20px 0px;
    justify-content: center;
    margin-top: 20px;
}

.card {
    background-color: white;
    padding: 12px;
    border: 1px solid #ccc;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 220px;
}

.card img {
    width: 100%;
    height: 120px;
    background-color: #ddd;
    object-fit: cover;
    border-radius: 20px;
}

.item-name {
    font-weight: bold;
    font-size: 16px;
    margin: 0;
}

.card-text {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.item-desc {
    flex: 1;
    margin: 0;
    font-size: 12px;
    word-break: break-word;
    text-align: left;
}

.price {
    white-space: nowrap;
    font-size: 14px;
    font-weight: bold;
    text-align: right;
}

.price-button {
    display: flex;
    align-items: center;
    gap: 10px;
}


.add-to-cart-btn {
  background-color: #0a58ca;   
  color: white;                
  border: none;                
  border-radius: 50%;          
  width: 30px;                 
  height: 30px;                
  font-size: 18px;             
  cursor: pointer;            
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s ease;
}

.add-to-cart-btn:hover {
  background-color: #084298;  
}

@media (max-width: 768px) {

    .menu-container {
        flex-direction: column;
    }

    .menu-header-bar {
        padding: 5px 20px;

    }

    .menu-header-bar h2 {
        text-align: center;
    }

    .items {
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
        gap: 20px;
    }

    .card {
        height: auto;
    }

    .categories {
        justify-content: center;
        gap: 10px;
    }
    .card-text {
        flex-direction: column;
        align-items: flex-start;
    }

    .price-button {
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
    }

    .price {
        text-align: left;
    }

}



